.post-comments {
  display: flex;
  flex-direction: column;
}
.post-comments h4, h5 {
  font-size: 14px;
  margin-block-end: 16px;
  margin-block-start: 10px;
}
.post-comments label {
  font-size: 14px;
  margin-bottom: 10px;
}
.post-comments textarea {
  height: 20vh;
}
.new-comment {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  background-color: #F5F5F5;
  padding:0 10px;
}
.new-comment-form {
  display: flex;
  flex-direction: column;
}
.new-comment-submit {
  width: 30%;
  align-self: center;
  margin: 10px 0;
  background-color: #FFD7D7;
  border-width: 0;
  cursor: pointer;
  font-weight: bold;
  padding: 5px;
  border-radius: 5px;
}
.old-comments {
  display: flex;
  flex-direction: column;
}
.old-comments h6 {
  margin-block-start: 0;
  font-style: italic;
  font-size: 12px;
  font-weight: 500;
}
.one-comment {
  display: flex;
  flex-direction: column;
  margin: 10px 0;
  background-color: #F5F5F5;
  padding:0 10px;
}
.one-comment p {
  text-align: justify;
}
.comment-signal {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.comment-signal p {
  margin-right: 10px;
}
