.footer-container {
  background-color: #C4C4C4;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 20vh;
}
.footer-container-networks {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-container-logo {
  width: 15vw;
  height: 20vh;
}
.footer-container-image {
  width: 6vw;
  height: 8vh;
}

