.new-post-container{
  display: flex;
  justify-content: space-between;
  height: 70vh;
}
.new-post-content {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: 40px;
  background-color: #E5E1E1;
}
.new-post-content > h3 {
  text-align: center;
}
.new-post-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80%;
  padding: 20px;
}
.new-post-form label{
  align-self: start;
}
input[name="title"]{
  width: 98%;
  margin-bottom: 25px;
  height: 15%;
}
textarea[name="content"]{
  width: 98%;
  margin-bottom: 25px;
  height: 40%;
}
input[type="submit"]{
  cursor: pointer;
}
