#root {
  height: 100vh;
  overflow: hidden;
}
.home-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 65vh;
}
.home-container-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 20px;
  margin-right: 10px;
  width: 65%;
}
.home-container-text h2 {
    opacity: 0.7;
    font-size: 20px;
    text-align: justify;
}
.home-container-image {
  width: 40vw;
  height: 90%;
}




/*.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}*/
