.post-container {
  display: flex;
  justify-content: space-between;
  height: 70vh;
  overflow: scroll;
  background-color: #E5E1E1;
}
.one-post {
  width: 70vw;
  margin: 40px;
  background-color: white;
}
.post-top, .post-text {
  padding: 5px;
}
.post-links {
  font-size: 16px;
  text-decoration: none;
  color: black;
}
.post-links:hover {
  opacity: 0.8;
  transform: scale(1.025);
  cursor: pointer;
}
.icon-links {
  color: #E7A0A0;
  cursor: pointer;
}
.icon-links:hover {
  opacity: 0.8;
  transform: scale(1.2);
}
.show-comments {
  display: none;
}
.post-bottom {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.post-bottom > i {
  padding: 0 4px;
}
.post-bottom p {
  padding: 0 7px;
}
.post-bottom-like, .post-bottom-comment, .post-bottom-signal, .post-bottom-suppress {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

