.post-container {
  display: flex;
  justify-content: space-between;
  height: 70vh;
  overflow: scroll;
  background-color: #E5E1E1;
}
.one-post {
  width: 70vw;
  margin: 40px;
  background-color: white;
}
.post-top, .post-text {
  padding: 5px;
}
.one-post h3 {
  font-size: 16px;
}
.post-text p {
  overflow: scroll;
  height: 100%;
}
.post-links {
  font-size: 16px;
  text-decoration: none;
  color: black;
}
.post-links:hover {
  opacity: 0.8;
  transform: scale(1.025);
  cursor: pointer;
}
.icon-links {
  color: #E7A0A0;
  cursor: pointer;
}
.icon-links:hover {
  opacity: 0.8;
  transform: scale(1.2);
}
.show-comments {
  display: none;
}
.post-bottom {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.post-bottom > i {
  padding: 0 4px;
}
.post-bottom p {
  padding: 0 7px;
}
.post-bottom-like, .post-bottom-comment, .post-bottom-signal, .post-bottom-suppress {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*responsive for the page and all its components*/

/*Small devices (portrait phones, landscape phones, up to 767px)*/
@media (max-width: 767px) {
  * {
    box-sizing: border-box;
  }
  .one-post {
    margin: 20px 10px 0px 10px;
    height: 88%;
  }
  .one-post > .post-top {
    height: 17%;
  }
  .one-post h3 {
    margin-block-start: 0.2em;
  }
  .one-post > .post-text {
    height: 55%;
    margin-top: 0px;
  }
  .one-post > .post-bottom {
    flex-wrap: wrap;
    padding: 0 5px;
    margin-top: 5px;
  }

}
/*Medium devices (tablets portrait, 768px and up)*/
@media (min-width: 768px) and (max-width: 991px) {
  * {
    box-sizing: border-box;
  }
  .one-post > .post-top {
    height: 17%;
  }
  .one-post h3 {
    font-size: 20px;
  }
  .one-post > .post-text {
    height: 65%;
  }
  .one-post > .post-bottom {
    margin-top: 10px;
  }
  .post-comments textarea {
    height: 15vh;
  }
}
